# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo

# Build and packaging artifacts
build/
dist/
*.egg-info/

# Environments
.venv/
venv/
__pypackages__/

# PDM local interpreter pointer
.pdm-python

# Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# all images in test_images except eiffel.png
test_images/*
!test_images/eiffel.png

# Compressed files
*.pbc
!GOLDEN_FILE.pbc

hpt_data/

benchmark_results/